<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Equipments</title>
</head>
<body>
    <h1>Create Equipments</h1>
    <form action="post">
        <label for="equipment_id">Equipments Id</label>
        <input type="text" name="equipment_id" placeholder="Equipments Id" />

        <label for="equipment_name">Equipments Name</label>
        <input type="text" name="equipment_name" placeholder="Equipments Name" />

        <label for="equipment_quantity">Equipments Description</label>
        <input type="text" name="equipment_quantity" />

        <label for="equipment_extra_info">Equipments Extra Info</label>
        <input type="text" name="equipment_extra_info" />

        <label for="current_status_id">Equipments Current status Id</label>
        <input type="text" name="current_status_id" />
        <button>Submit</button>
    </form>
</body>
</html>