<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Lab</title>
</head>
<body>
    <h1>Create lab</h1>
    <form action="post">
        <label for="">Lab Id</label>
        <input name="lab_id" type="text" placeholder="Lab Id" />

        <label for="">Lab Name</label>
        <input name="lab_name" type="text" placeholder="Lab Name" />

        <label for="">Lab Description</label>
        <input type="text" name="lab_dept" id="">
        <button>Submit</button>
    </form>
</body>
</html>